<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :customer %>
    <%= f.collection_select(:customer_id, Customer.all, :id, :name, include_blank: true) %>
  </div>

  <div class="field">
    <%= f.label :order_date %>
    <%= f.date_select :order_date %>
  </div>

  <%= f.fields_for :order_items do |builder| %>
    <%= render 'order_item_fields', f: builder, locals: {order: order} %>
  <% end %>
  <%= link_to_add_order_items "Add Order Item", f, :order_items %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
