<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @order.number %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.name %>
</p>

<p>
  <strong>Order Items:</strong>
  <ol>
  <% @order.order_items.each do |order_item| %>
      <li> <%= order_item.product.name %>, qty: <%= order_item.qty %> </li>
  <% end %>
  </ol>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
